{% load staticfiles %}
   <html>
       <head>
           <title>Christian</title>
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
           <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
           <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       </head>
       <body>
       <div class="page-header">
         <div class="col">
           <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
           <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

         </div>
         <div class="col">
           <h1><a href="/">Django Chrisalecafe Blog</a></h1>
         </div>

       </div>
       <div class="content container">
           <div class="row">
               <div class="col-md-4">
               {% block content %}
               {% endblock %}
               </div>
           </div>
       </div>
   </body>

   </html>
